.wrapper {
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.case {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.title {
    font-size: 24px;
    line-height: 28px;
}
.desc {
    font-size: 15px;
    line-height: 150%;
    color: #aaaaaa;
    flex: 1 1 auto;
}

.item {
    padding: 40px 31px 25px 31px;
    transition: all 0.3s ease 0s;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.border {
    width: 70.18px;
    height: 70px;
    border-radius: 15px;
}
