.grow {
    &__row {
        display: flex;
        margin: 0 -15px;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 33.3334%;
    }

    &__item-up {
        &:hover {
            background: #fff;
            box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
        }
    }

    &__wrap-up {
        background: rgba(242, 88, 34, 0.25);

        margin-bottom: 25px;

        &::before {
            position: absolute;
            transform: translate(80%, 150%);
            color: #f25822;
            font-size: 25px;
        }
    }

    &__item-light {
        &:hover {
            background: #fff;
            box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
        }
    }

    &__wrap-light {
        background: rgba(20, 146, 17, 0.28);

        margin-bottom: 25px;

        &::after {
            position: absolute;
            transform: translate(150%, 150%);
            color: #149211;
            font-size: 24px;
        }
    }

    &__item-ticket {
        &:hover {
            background: #fff;
            box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
        }
    }

    &__wrap-ticket {
        background: rgba(255, 205, 29, 0.24);
        margin-bottom: 25px;

        &::before {
            position: absolute;
            transform: translate(70%, 120%);
            color: #ffc700;
            font-size: 30px;
        }
    }

    &__title {
        font-family: "Gilroy-Bold";

        margin-bottom: 17px;
    }

    &__desc {
        margin-bottom: 25px;
    }

    &__wrap-link {
    }

    &__more {
        font-family: "Gilroy-Bold";
        font-size: 13px;
        line-height: 150%;
        color: #000;
    }
}

@media (max-width: 1023px) {
    .grow {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__column {
            padding: 15px;
            flex: 0 1 50%;
        }
    }
}

@media (max-width: 767px) {
    .grow {
        &__column {
            padding: 15px;
            flex: 0 1 90%;
        }

        &__wrap-image {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

        &__desc {
            text-align: center;
        }

        &__wrap-link {
            text-align: center;
        }
    }
}
