.logo {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -24px -39px;
    }

    &__column {
        flex: 0 1 10%;
        padding: 24px 24px;
    }

    &__img {
    }
}
