.logo {
    &__row {
        display: flex;
        margin: 0 -24px;
    }

    &__column {
        padding: 0 24px;
        flex: 0 1 12%;
    }

    &__item {
    }

    &__wrap-img {
    }

    &__img {
    }
}
