.page {
    &__advantages {
        background: #f5f5f5;

        padding: 92px 0 100px;
    }

    &__grow {
        padding: 100px 0;
    }

    &__logo {
        background: #f5f5f5;

        padding: 96px 0;
    }
}
